<h1>Pocket Cart Password Recovery</h1>

<h3>Please find your password reset token below: </h3>
<h1> <%= @user.reset_password_token %></h1>

<p>Ignore this email if you did not prompt a forgotten password request</p>